
<div class="site-cover">
  <div class="cover-graphic">
    <svg preserveAspectRatio viewBox="0 0 400 400">
       
    </svg>
  </div>
  <div class="cover-text">
    <span>DESIGN</span> 
    <span>IN</span> 
    <span>CODE</span>
  </div>
  <div class="author">
    <div class="author-photo">
      <img src='/img/me-2016.jpg' />
    </div>

    <div class="author-info">
      <div class="author-name">
        Du Hoang
      </div>
      <div class="author-title">
        UX · UI · Data Visualization Designer <br/> & <br/>Front End Developer
      </div>
    </div>
    
  </div>
</div>
